.root {
  line-height: 20px !important;
  padding: 12px 10px !important;
  border-radius: 8px !important;
  background: var(--lido-color-accent) !important;
  color: var(--lido-color-accentContrast) !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  max-width: 272px;
  box-shadow: 0px 4px 12px 0 var(--lido-color-shadowLight) !important;
}