.root {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  // font-family: Helvetica-Bold;
  font-size: 20px;
  color: #151515;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  margin: 0 22px;
  cursor: pointer;
  // media query for mobile devices, screen width less than 640px, font-size 14px, margin 0 12px
  @media screen and (max-width: 640px) {
    font-size: 14px;
    margin: 0 12px;
  }
}

.active {
  color: #5C9700;
  font-weight: 700;
}

.single {
  cursor: default;
  background: #0F14191A;
}